{% extends 'baseBootstrap.html.twig' %}

{% block body %}
    <div class="container">
        <h4>Skills</h4>

        <ul class="list-group">
        {% for skill in skills  %}
            <li class="list-group-item">{{skill.name }}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}